<h3>
  My Tasks
  <img *ngIf="loading" src="assets/loader.gif">
</h3>
Order by:
<button type="button" class="btn btn-default" (click)="sortTasks('name')" [disabled]="loading">
  Name
  <span *ngIf="sortBy == 'name' && sortDirection == 'asc'" class="glyphicon glyphicon-arrow-up"></span>
  <span *ngIf="sortBy == 'name' && sortDirection == 'desc'" class="glyphicon glyphicon-arrow-down"></span>
</button>
<button type="button" class="btn btn-default" (click)="sortTasks('created_at')" [disabled]="loading">
  Age
  <span *ngIf="sortBy == 'created_at' && sortDirection == 'asc'" class="glyphicon glyphicon-arrow-up"></span>
  <span *ngIf="sortBy == 'created_at' && sortDirection == 'desc'" class="glyphicon glyphicon-arrow-down"></span>
</button>
<ul>
  <li *ngFor="let task of tasks; let first = first; let last = last">
      <app-task-list-item
        [first]="first"
        [last]="last"
        [task]="task"
        [disabled]="loading"
        (error)="loadTasks()"
        (delete)="removeTask($event)"
        (move) ="moveTask($event)"
      ></app-task-list-item>
  </li>
</ul>
<button type="button" class="btn btn-default" (click)="addNewTask()" [disabled]="loading">
  Add New Task
</button>